.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
/doc/
/Meta/

/.quarto/
**/*.quarto_ipynb

# Raw development data
/data-raw/

# renv local libraries (keeps your repo light)
renv/library/
renv/staging/
renv/sandbox/
